<!-- 头部 -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <base href="/guguanjia/">
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>固管家服务平台</title>
    <meta name="description" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="static/chosen/chosen.min.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="static/ace/css/ace.min.css" id="main-ace-style"/>
    <link rel="stylesheet" href="static/ace/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="static/ace/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="static/ztree/metro.css"/>
    <link rel="stylesheet" href="static/validate/css/validform.css"/>
    <link rel="stylesheet" href="static/css/custom.css"/>

    <!--[if !IE]> -->
    <script src="static/jquery/jquery.js"></script>
    <!-- <![endif]-->
    <!-- ace settings handler -->
    <script src="static/ace/js/ace-extra.min.js"></script>

</head>

<body class="no-skin" id="body-content">
<!-- 顶部条 -->
<div id="navbar" class="navbar navbar-default">
</div>
<!-- 主体 -->
<div class="main-container" id="main-container">

    <div id="sidebar" class="sidebar responsive">

    </div>


    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">

            <ul class="tab" id="breadcrumb">
                <!-- <li class="active" >
               菜单配置<i class="fa fa-times close"></i>
               </li>  -->
            </ul><!-- /.breadcrumb -->
            <div id="tab-menu">
                <ul class="dropdown-menu dropdown-caret" style="min-width: 0px;">
                    <li><a href="javascript:void(0);" data-right-menu="all_close">全部关闭</a></li>
                    <li><a href="javascript:void(0);" data-right-menu="other_close">关闭其他</a></li>
                </ul>
            </div>
        </div>

        <div class="page-content">
            <div class="ace-settings-container" id="ace-settings-container">

            </div>
            <!-- /.ace-settings-container -->
            <div class="page-header">
                <h1> 机构管理 </h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="fill-main-content" style="height:100%">
                        <div class="widget-box widget-color-green2">
                            <div class="widget-header clearfix">
                                <h5 class="widget-title"> 机构配置</h5>
                                <div class="widget-toolbar">
                                    <a data-action="fullscreen" class="orange2"> <i
                                            class="ace-icon fa fa-expand"></i>
                                    </a>
                                </div>
                                <div class="widget-toolbar no-border width-40" style="padding-top: 2px;">
                                    <form method="post" class="form-search" id="search-form1" target="list-page"
                                          action="office/list">
                                        <div class="input-group" style="line-height: 0px;">
					<span class="input-group-btn">
						<span class=" btn  btn-success btn-sm"
                              id="search-all-btn">
							 显示全部
						</span>
					</span>
                                            <input type="text" class="form-control search-query"
                                                   name="name" placeholder="机构名称" id="search-input">
                                            <span class="input-group-btn">
						<span class="btn  btn-success btn-sm"
                              id="search-btn">
							搜索 <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
						</span>
					</span>
                                        </div>
                                        <input type="hidden" name="id"/>
                                    </form>
                                </div>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main padding-8">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div>
                                                <ul id="treeMenu" class="ztree">
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-8" id="list-page">
                                            <table class="table table-striped table-bordered table-hover nomargin-bottom">
                                                <thead>
                                                <tr>
                                                    <th class="center">名称</th>
                                                    <th class="center" style="display: none;">上级机构</th>
                                                    <th class="center" width="80px">区域</th>
                                                    <th class="center">负责人</th>
                                                    <th class="center">电话</th>
                                                    <th class="center" width="70px">操作</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr v-for="office in pageInfo.list">
                                                    <td class="center">
                                                        <a @click="detail(office.id)">(<b>公司</b>){{office.name}}</a>
                                                    </td>
                                                    <td class="center" style="display: none;">

                                                    </td>
                                                    <td class="center">
                                                        {{office.areaName}}
                                                    </td>
                                                    <td class="center">
                                                        {{office.master}}
                                                    </td>
                                                    <td class="center">
                                                        {{office.phone}}
                                                    </td>
                                                    <td class="center">
                                                        <div class="hidden-sm hidden-xs action-buttons">
                                                            <a class="green"  @click="toUpdate(office.id)">
                                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                            </a>

                                                            <a class="red" @click="deleteById(office.id)">
                                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                            <div class="space-8"></div>

                                            <div class="clearfix">
                                                <div style="float: left;">
                                                    <div style="padding-top:5px;">
			<span class="badge badge-info">
				当前第 {{pageInfo.pageNum}} 页 / {{pageInfo.pages}} 页，共 {{pageInfo.total}} 条数据
			</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="pagination no-margin pull-right clearfix">

                                                        <li class="prev"><a href="javascript:void(0);"  @Click="selectAll(1,pageInfo.pageSize)" >首页</a></li>
                                                        <li v-if="pageInfo.pageNum>1" :class="pageInfo.pageNum==1?'prev disabled': 'prev'"><a href="javascript:void(0);" @click="selectAll(pageInfo.prePage,pageInfo.pageSize)">上一页</a></li>
                                                        <li v-else-if="pageInfo.pageNum<=1" :class="pageInfo.pageNum==1?'prev disabled': 'prev'"><a href="javascript:void(0);" >上一页</a></li>
                                                        <li :class="num==pageInfo.pageNum?'active':''"  v-for="num in pageInfo.navigatepageNums"><a href="javascript:void(0);" @click="selectAll(num,pageInfo.pageSize)">{{num}}</a></li>
                                                        <li :class="pageInfo.pageNum==pageInfo.pages?'next disabled': 'next'"><a href="javascript:void(0);" @click="selectAll(pageInfo.nextPage,pageInfo.pageSize)">下一页</a></li>
                                                        <li class="next "><a href="javascript:void(0);" @Click="selectAll(pageInfo.pages,pageInfo.pageSize)">尾页</a></li>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div><!-- /.page-content -->

    </div><!-- /.main-content -->

    <a href="javascript:void(0);" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" style="z-index:1111">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!--底部-->
<script type="text/javascript">


</script>



<script src="static/bootstrap/bootstrap.min.js"></script>

<!-- ace scripts -->
<script src="static/ace/js/ace-elements.min.js"></script>
<script src="static/ace/js/ace.min.js"></script>

<script type="text/javascript">
    $(function(){
        $("#navbar").load("html/commons/navbar.html");
        $("#sidebar").load("html/commons/sidebar.html");
        $("#ace-settings-container").load("html/commons/settingsContainer.html");
    })
    try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}

</script>

<!-- 引入其他js -->
<script src="static/js/history.js"></script>
<script type="text/javascript" src="static/layer/layer.js"></script>
<script type="text/javascript" src="static/js/spin.min.js"></script>
<script type="text/javascript" src="static/ztree/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="static/js/jquery.autosize.min.js"></script>
<script type="text/javascript" src="static/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="static/validate/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="static/js/jquery.form.js"></script>
<script type="text/javascript" src="static/js/bootstrap-contextmenu.js"></script>
<script type="text/javascript" src="static/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="static/js/public.js"></script>
<script type="text/javascript" src="static/vue/vue.js"></script>
<script type="text/javascript" src="static/vue/axios.js"></script>

<script type="text/javascript" src="static/js/office/office.js"></script>


</body>
</html>
